{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>مرکز پژوهشی گهر</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="select-none box-border ">
  <!--start header-->
  <header class="desktop:w-full desktop:h-[90px] desktop:bg-blue-950 desktop:flex desktop:flex-row ">
    <div class="header-right desktop:w-[55%] ">
      <h5 class="declare desktop:text-white desktop:w-auto desktop:h-[90px]  desktop:leading-[90px] desktop:pr-[60px] desktop:font-[yekan] desktop:text-[27px]">سایت پژوهشی گهر</h5>
    </div>
    <div class="header-left desktop:w-[45%]  desktop:flex desktop:flex-row desktop:justify-center desktop:items-center desktop:gap-x-20">
      <div class="first-page"><a href="{% url 'home' %}" class="desktop:w-auto desktop:h-auto desktop:text-white desktop:text-[17px] desktop:hover:text-cyan-500 desktop:transition-all desktop:duration-300 desktop:font-[yekan] ">
        صفحه اصلی
      </a></div>
      <div class="about-us"><a href="{% url 'about' %}" class="desktop:w-auto desktop:h-auto desktop:text-white desktop:text-[17px] desktop:hover:text-cyan-500 desktop:transition-all desktop:duration-300 desktop:font-[yekan] ">
       درباره ما
      </a></div>
      <div class="user-login"><a href="{% url 'login' %}" class="desktop:w-auto desktop:h-auto desktop:px-[14px] desktop:py-[8px] desktop:rounded-[7px] desktop:bg-cyan-700 desktop:text-white desktop:text-[17px] desktop:hover:bg-cyan-900 desktop:transition-all desktop:duration-300 desktop:font-[yekan] ">
        ورود اعضا      </a></div>
      <div class="user-login"></div>
    </div>
  </header>
  <!--end header-->
  <main style="background-image: url('{% static "images/back.jpg" %}');" class="desktop:w-full desktop:h-auto desktop:bg-cover desktop:flex desktop:flex-row desktop:justify-center desktop:py-[100px]">
    <!--start information-->
    <div class="main-center desktop:w-[70%] desktop:h-auto desktop:bg-white desktop:bg-opacity-[50%] desktop:backdrop-blur-lg desktop:rounded-[25px] desktop:pb-[120px] desktop:border-gray-300 desktop:border-solid desktop:border-[3px] desktop:shadow-2xl desktop:shadow-black">
      <h5 class="desktop:w-full desktop:h-auto desktop:font-[yekan] desktop:text-[24px] desktop:opacity-[100%] desktop:text-center desktop:mt-[60px]">مرکز پژوهشی گهر</h5>
      <p class="desktop:w-[80%] desktop:text-center desktop:m-auto desktop:mt-[30px] desktop:leading-9">مرکز پژوهشی گهر  یک مجموعه پیشرو در زمینه هوش مصنوعی و بینایی ماشین است که با تکیه بر دانش فنی و تخصص تیم تحقیقاتی خود، توانسته است دستاوردهای مهمی در این حوزه به دست آورد. هدف ما توسعه فناوری‌های نوین و ارائه راهکارهای هوشمند برای صنایع مختلف از جمله پزشکی، امنیت، خودروسازی، تولید و تجارت الکترونیک است.

      </p>


      <a href="{% url 'request_collaboration' %}" class="desktop:block desktop:w-fit desktop:h-fit desktop:py-[10px] desktop:px-[14px] desktop:rounded-[12px] desktop:bg-cyan-700 desktop:font-[yekan] desktop:mt-[35px] desktop:text-white desktop:m-auto desktop:hover:bg-cyan-900 desktop:transition-all desktop:duration-300"><span>درخواست همکاری</span></a>

      <div class="cards-wrap desktop:w-full desktop:h-auto desktop:mt-[70px]">
        <div class="card-top desktop:w-full desktop:h-auto"><h5 class="desktop:h-auto desktop:pr-[50px] desktop:text-[20px] desktop:font-[yekan]">تیم های فعلی:</h5></div>
        <div class="card-bottom desktop:w-full desktop:h-auto desktop:flex desktop:flex-row desktop:justify-evenly desktop:flex-wrap desktop:gap-y-7">

      {% for team in experts %}
          <div class="card desktop:w-[310px] desktop:h-auto desktop:bg-gray-300 desktop:rounded-[15px] desktop:overflow-hidden desktop:shadow-lg  desktop:mt-[40px]">
            <img src="{% static 'images/teams.png' %}" alt="Sample Image" class="desktop:w-full desktop:h-[200px] desktop:object-cover">
            <div class="desktop:p-[20px]">
              <h3 class="desktop:text-[20px] desktop:font-bold desktop:mb-[10px]">{{team.name}}</h3>
              <p class="desktop:text-[16px] desktop:leading-[28px] desktop:text-justify">{{team.description}}</p>

            </div>
          </div>
      {% endfor %}
      {% for team in intermediates %}
          <div class="card desktop:w-[310px] desktop:h-auto desktop:bg-gray-300 desktop:rounded-[15px] desktop:overflow-hidden desktop:shadow-lg  desktop:mt-[40px]">
            <img src="{% static 'images/teams.png' %}" alt="Sample Image" class="desktop:w-full desktop:h-[200px] desktop:object-cover">
            <div class="desktop:p-[20px]">
              <h3 class="desktop:text-[20px] desktop:font-bold desktop:mb-[10px]">{{team.name}}</h3>
              <p class="desktop:text-[16px] desktop:leading-[28px] desktop:text-justify">{{team.description}}</p>

            </div>
          </div>
      {% endfor %}
      {% for team in beginners %}
          <div class="card desktop:w-[310px] desktop:h-auto desktop:bg-gray-300 desktop:rounded-[15px] desktop:overflow-hidden desktop:shadow-lg  desktop:mt-[40px]">
            <img src="{% static 'images/teams.png' %}" alt="Sample Image" class="desktop:w-full desktop:h-[200px] desktop:object-cover">
            <div class="desktop:p-[20px]">
              <h3 class="desktop:text-[20px] desktop:font-bold desktop:mb-[10px]">{{team.name}}</h3>
              <p class="desktop:text-[16px] desktop:leading-[28px] desktop:text-justify">{{team.description}}</p>

            </div>
          </div>
      {% endfor %}


    </div>
    <!--end information-->
    </main>
    <!--start footer-->
  <footer class="desktop:w-full desktop:h-[150px] desktop:bg-blue-950 ">
    <h5 class="desktop:text-white desktop:w-auto desktop:h-[90px]  desktop:leading-[90px] desktop:pr-[60px] desktop:font-[yekan] desktop:text-[20px] desktop:text-center">مرکز پژوهشی گهر</h5>
    <div class="info desktop:flex desktop:flex-row ">
      <div class="info-right desktop:text-[20px] desktop:text-white desktop:font-[yekan] desktop:pr-[100px] desktop:hover:text-cyan-500 desktop:duration-300 desktop:transition-all desktop:cursor-pointer">
         تلفن : 09945688202
      </div>
      <div class="useablity desktop:text-[20px] desktop:text-white desktop:font-[yekan] desktop:pl-[270px] desktop:pr-[380px]">تمامی حقوق محفوظ است © 2024</div>
      <div class="email desktop:text-[20px] desktop:text-white desktop:font-[yekan]  desktop:hover:text-cyan-500 desktop:duration-300 desktop:transition-all desktop:cursor-pointer">ایمیل : gahar@gmail.com</div>
      <div class="info-left"></div>
    </div>

  </footer>
   <!--end footer-->


</body>
</html>